#map {
  width: 100%;
  height: 500px;
  border: 15px solid black
}

#mapContainer {
  position: relative;
}

#selector {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  z-index: 1000; /* Set a higher z-index value to ensure the dropdown appears above the map */
}
